# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next
/.next/
/out/

# copied from pdfjs-dist on npm install
/public/pdf.worker.min.mjs

# misc
.DS_Store
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local Netlify folder
.netlify
